alembic==1.18.4
amqp==5.3.1
attrs==26.1.0
billiard==4.2.4
blinker==1.9.0
boto3==1.43.36
botocore==1.43.36
brotli==1.2.0
celery==5.6.3
certifi==2026.6.17
cffi==2.0.0
click==8.4.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudinary==1.44.2
cssselect2==0.9.0
Deprecated==1.3.1
flasgger==0.9.7.1
Flask==3.1.3
flask-cors==6.0.5
Flask-JWT-Extended==4.7.4
Flask-Limiter==4.1.1
flask-marshmallow==1.5.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
fonttools==4.63.0
greenlet==3.5.1
gunicorn==26.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
limits==5.8.0
Mako==1.3.12
MarkupSafe==3.0.3
marshmallow==4.3.0
marshmallow-sqlalchemy==1.5.0
mistune==3.3.2
ordered-set==4.1.0
packaging==26.2
pillow==12.2.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.12
pycparser==3.0
pydyf==0.12.1
PyJWT==2.13.0
pyphen==0.17.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
redis==7.4.0
referencing==0.37.0
rpds-py==2026.5.1
s3transfer==0.19.0
six==1.17.0
SQLAlchemy==2.0.50
tinycss2==1.5.1
tinyhtml5==2.1.0
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
urllib3==2.7.0
vine==5.1.0
wcwidth==0.7.0
weasyprint==68.1
webencodings==0.5.1
Werkzeug==3.1.8
wrapt==2.2.1
zopfli==0.4.1
requests==2.34.2
openpyxl==3.1.5
